/*
 * Default Pik6 theme
 * Includes styles for syntax highlighting using google-code-prettify
 */


body {
	font-family: Georgia, "Times New Roman", serif;
	line-height: 1.6;
	background: #FFF;
	color: #000;
}
.pik6-slide {
	font-size: 0.75em;
}

/* Typography */
h1, h2, p, ul, ol, p, pre {
	margin-left: 4%;
	margin-right: 4%
}
h1 {
	color: #000;
	font-size: 4.5em;
	text-align: center;
	font-weight: normal;
	margin-top: 0.25em;
}
h2 {
	font-style: italic;
	color: #AE1215;
	font-size: 1.45em;
}
h1 + h2 {
	text-align: center;
	font-size: 1.75em;
	margin-top: -2em;
}
pre {
	overflow: hidden;
	line-height: 1.4;
}
a, a:link, a:visited {
	cursor: pointer;
	color: #AE1215;
	text-decoration: none;
	border-bottom: 0.1em solid #AE1215;
}
a:visited {
	border-bottom: 0.1em dotted #AE1215;
}
a:hover, a:active {
	color: #000;
	border-bottom: 0.1em solid transparent;
}

/* Wrap two .center elements to center their children
   horizontally and vertically */
.center {
	display: table;
	text-align: center;
	width: 100%;
	height: 100%;
}
.center .center {
	display: table-cell;
	vertical-align: middle;
}

/* Code highlighting */
.pln { color: #000; }
.str { color: #090; }
.kwd { color: #009; font-weight: bold; }
.com { color: #900; font-style: italic; }
.typ { color: #404; font-weight: bold; }
.lit { color: #044; }
.pun, .opn, .clo { color: #440; }
.tag { color: #009; font-weight: bold; }
.atn { color: #404; }
.atv { color: #090; }
