.deck-container .theme-menu {
  display: none;
  position: fixed;
  z-index: 3;
  bottom: 10px;
  left: 10px;
  height: 20px;
  line-height: 20px;
  padding: 5px;
  border: 1px solid #ddd;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  overflow: hidden;
  background: #fff;
  font-family: sans-serif;
  color: #888;
}
.js .deck-container .theme-menu {
  display: block;
}
.deck-container .theme-menu h2 {
  float: left;
  font-size: 20px;
  border: 0;
  padding: 5px 10px;
  margin: 0;
  height: 20px;
  position: relative;
  top: -5px;
  left: -5px;
  background: #ccc;
  color: #444;
  text-shadow: none;
  font-family: sans-serif;
  font-weight: bold;
}
.deck-container .theme-menu label {
  float: left;
  display: block;
  font-size: 12px;
  vertical-align: baseline;
  margin: 0 4px 0 15px;
}
.deck-container .theme-menu select {
  float: left;
  display: block;
  font-size: 14px;
}

.deck-container li {
	margin-top: 15px;
}

.deck-container li ul li {
	margin-bottom: -15px;
}

@media print {
  .theme-menu {
    display: none !important;
  }
}

.centered {
	position:absolute;
    top:50%;
    left:50%;
    -moz-transform:translate(-50%, -50%);
    -webkit-transform:translate(-50%, -50%);
    transform:translate(-50%, -50%);
    text-align: center;
}

.author {
	position: absolute;
	bottom: 10px;
	left:50%;
    -moz-transform:translate(-50%, 0%);
    -webkit-transform:translate(-50%, 0%);
    transform:translate(-50%, 0%);
}

.date {
	position: fixed;
	left: 5px;
	bottom: 10px;
}
